* {
    color: rgb(216, 212, 212);
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 16px;
}
main{
    max-width: 800px;
    margin: 0 auto;
}
.titleRight{
    margin: 52px 0 0 -2px;
} 
header .titleRight h1{
    font-size: 65px;
    padding: 11px 0 0 67px;
    font-family: 'Condiment', cursive;
    letter-spacing: 52px;

}
header .f{
    font-size: 215px;
    font-family: 'Condiment', cursive;
    padding: 16px 71px 0 0;
    position: relative;
    top: 26px;
    left: 79px;
}
body{
    min-height: 100vh;
    background-image: url("blacksand-bg.jpg");
    background-position: center;
    background-size: cover;
    transition: all ease-in-out;
    background-color: rgb(8, 8, 8);
}
.game-board{
    max-width:800px;
    padding: 0 0 20px 0;
    margin: 0 auto;
}
.game-board .row1{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding-top: 20px;
}
.game-board .row2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    user-select: none;
    padding: 10px 0;
}
.pg-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
h2, p, h1, h3{
    display: inline-block;
}
.pg-container h2{
    text-align: center;
    font-size: 3.5rem;
    display: inline-block;
    cursor: pointer;
    min-width: 320px;
    min-height: 60px;
}
.result-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 20px 0;
    height: 40px
}
.result{
    display: none;
    text-align: center;
    font-size: 1.5rem;
}
.display-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0 0 0;
    max-width: 559px;
    margin: 0 auto;
    font-family: 'Major Mono Display', monospace;
}
.display-container p{
    min-width: 100px;
    font-size: 1.3em;
}
.display-container .span{
    display: block;
}

/* BUTTONS */
       /* general button styling */
.game-board button{
    
    background: #07070700;
    border: 3px solid #909096e5; 
    border-radius: 99%;
    width: 150px;
    height: 150px;
    margin: 0 30px;
    transition: all 0.2s ease-in-out;
    font-size: 3em;
    color: #909096e5;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: inherit;
    cursor: default;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;    
}

button:focus {
    outline: none;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.98);
    outline: none;
}
.row2 .space{
    width: 270px;
    height: 135px;
}

        /* color */
/* main .f{ background-color: #c1ecfa15; }
.j{ background-color: #ff462511; }
.c{ background-color: #ffdd4309; }
.space{ background-color: #860a9c10;}
.m{ background-color: #3486050a; } */

        /* animation calls */
.glow-blue{
    -webkit-animation: bluePulse .7s 1;
}
.glow-red{
     -webkit-animation: redPulse .7s 1;
}
.glow-yellow{
     -webkit-animation: yellowPulse .7s 1;
}
.glow-purple{
     -webkit-animation: purplePulse .7s 1;
}
.glow-green{
     -webkit-animation: greenPulse .7s 1;
}

        /* Animations details*/
@keyframes bluePulse{
from {background-color: #9fe2f8f3; -webkit-box-shadow: 0 0 9px #8ce2ffaf; color: #f8f7f7; }
8% {background-color: #82e0ff; -webkit-box-shadow: 0 0 18px #c6edfabd; color: #fff; }
to {background-color: #07070700; -webkit-box-shadow: 0 0 1px #b6e9faa8; color: #909096e5; }
}

@keyframes redPulse{
from {background-color: #ff4625be; -webkit-box-shadow: 0 0 9px #ff7c65a1; color: #f8f7f7; }
8% {background-color: #ff4625; -webkit-box-shadow: 0 0 18px #ff856fcc; color: #fff; }
to {background-color: #07070700; -webkit-box-shadow: 0 0 1px #fa9d8da1; color: #909096e5; }
}

@keyframes yellowPulse{
from {background-color: #ffdd43b4; -webkit-box-shadow: 0 0 9px #ecc72485; color: #f8f7f7; }
8% {background-color: #ffdd43; -webkit-box-shadow: 0 0 18px #ecc724a9; color: #fff; }
to {background-color: #07070700; -webkit-box-shadow: 0 0 1px #ecc72473; color: #909096e5; }
}

@keyframes purplePulse{
from {background-color: #9c0db6ab; -webkit-box-shadow: 0 0 9px #be0fdda1; color: #f8f7f7; }
8% {background-color: #be0fdd; -webkit-box-shadow: 0 0 18px #d614f898; color: #fff; }
to {background-color: #07070700; -webkit-box-shadow: 0 0 1px #b913d68f; color: #909096e5; }
}

@keyframes greenPulse{
from {background-color: #44aa09a6; -webkit-box-shadow: 0 0 9px #66e01f80; color: #f8f7f7; }
8% {background-color: #47b309; -webkit-box-shadow: 0 0 18px #59db0d8a; color: #fff; }
to {background-color: #07070700; -webkit-box-shadow: 0 0 1px #5fdd1657; color: #909096e5; }
}