* {
    color: #d8d4d4;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 16px;
}
main{
    max-width: 800px;
    margin: 0 auto;
}
.titleRight{
    margin: 52px 0 0 -2px;
} 
header .titleRight h1{
    font-size: 65px;
    padding: 11px 0 0 67px;
    font-family: 'Condiment', cursive;
    letter-spacing: 52px;

}
header .f{
    font-size: 215px;
    font-family: 'Condiment', cursive;
    padding: 16px 71px 0 0;
    position: relative;
    top: 26px;
    left: 79px;
}
body{
    min-height: 100vh;
    transition: 1.4s opacity;
    background-image: url("blacksand-bg.jpg");
    background-position: center;
    opacity: 1;
    background-size: cover;
    background-color: rgb(8, 8, 8);
    
}
.game-board{
    max-width:800px;
    margin: 0 auto;
}
.game-board .row1{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding-top: 20px;
}
.game-board .row2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    user-select: none;
    padding: 10px 0;
}
.pg-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    min-height: 60px
}
h2, p, h1, h3{
    display: inline-block;
}
.pg-container h2{
    text-align: center;
    font-size: 3.5rem;
    display: inline-block;
    cursor: pointer;
    min-width: 320px;
    min-height: 60px;
}
.result-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 20px 0;
    height: 40px
}
.result{
    display: none;
    text-align: center;
    font-size: 1.5rem;
}
.display-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0 0 0;
    max-width: 559px;
    margin: 0 auto;
    font-family: 'Major Mono Display', monospace;
}
.display-container p{
    min-width: 100px;
    font-size: 1.3em;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
}
.display-container .span{
    display: block;
}

/* BUTTONS */
       /* general button styling */
.game-board button{
    
    background: #07070700;
    border: 3px solid #909096e5; 
    border-radius: 99%;
    width: 150px;
    height: 150px;
    margin: 0 30px;
    transition: all 0.1s ease-in-out;
    font-size: 3em;
    color: #909096e5;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: inherit;
    cursor: default;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;    
}

button:focus {
    outline: none;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.98);
    outline: none;
}
.row2 .space{
    width: 270px;
    height: 135px;
}

        /* color */
/* main .f{ background-color: #c1ecfa15; }
.j{ background-color: #ff462511; }
.c{ background-color: #ffdd4309; }
.space{ background-color: #860a9c10;}
.m{ background-color: #3486050a; } */

        /* animation calls */
.glow-blue{
    -webkit-animation: bluePulse .7s 1;
    animation: bluePulse .7s 1;

}
.glow-red{
     -webkit-animation: redPulse .7s 1;
     animation: redPulse .7s 1;
}
.glow-yellow{
     -webkit-animation: yellowPulse .7s 1;
     animation: yellowPulse .7s 1;
}
.glow-purple{
     -webkit-animation: purplePulse .7s 1;
     animation: purplePulse .7s 1;
}
.glow-green{
     -webkit-animation: greenPulse .7s 1;
     animation: greenPulse .7s 1;
}
.playGame{
    -webkit-animation: playIdle .1.8s infinite;
    animation: playIdle 1.8s infinite;
}
.start-up{
    border:3px solid #d8d4d4e3 !important;
    -webkit-box-shadow: 0 0 4px #ffffffaf;
    background-color: #d8d4d40c !important;
}
.start-up-display{
    color: #06e011e8 !important;
}
.fail{
    border:3px solid #ee0606c9 !important;
    -webkit-box-shadow: 0 0 10px #f10e0ea4;
    color: #ee0606c9 !important;
}
.fade{
    opacity: 0;
    transition: none;
}


        /* Animations details*/
@keyframes bluePulse{
from {background-color: #3498DBf3; -webkit-box-shadow: 0 0 14px #8ce2ffaf; color: #f8f7f7; }
8% {background-color: #3498DB; -webkit-box-shadow: 0 0 24px #c6edfabd; color: #fff; }
to {background-color: #d8d4d40c; -webkit-box-shadow: 0 0 1px #b6e9faa8; color: #909096e5; }
}

@keyframes redPulse{
from {background-color: #df5748be; -webkit-box-shadow: 0 0 14px #ff7c65a1; color: #f8f7f7; }
8% {background-color: #df5748; -webkit-box-shadow: 0 0 24px #ff856fcc; color: #fff; }
to {background-color: #d8d4d40c; -webkit-box-shadow: 0 0 1px #fa9d8da1; color: #909096e5; }
}

@keyframes yellowPulse{
from {background-color: #ecc24cb4; -webkit-box-shadow: 0 0 14px #ecc72485; color: #f8f7f7; }
8% {background-color: #ecc24c; -webkit-box-shadow: 0 0 24px #ecc724a9; color: #fff; }
to {background-color: #d8d4d40c; -webkit-box-shadow: 0 0 1px #ecc72473; color: #909096e5; }
}

@keyframes purplePulse{
from {background-color: #cc58faab; -webkit-box-shadow: 0 0 14px #be0fdda1; color: #f8f7f7; }
8% {background-color: #cc58fa; -webkit-box-shadow: 0 0 24px #d614f898; color: #fff; }
to {background-color: #d8d4d40c; -webkit-box-shadow: 0 0 1px #b913d68f; color: #909096e5; }
}

@keyframes greenPulse{
from {background-color: #06e011a6; -webkit-box-shadow: 0 0 14px #66e01f80; color: #f8f7f7; }
8% {background-color: #06e011; -webkit-box-shadow: 0 0 24px #59db0d8a; color: #fff; }
to {background-color: #d8d4d40c; -webkit-box-shadow: 0 0 1px #5fdd1657; color: #909096e5; }
}

@keyframes playIdle{
    from{opacity: 1;}
    45%{opacity: 0.01; }
    90%{opacity: .95;}
    to{opacity: 1;}
}

@keyframes buttonStartup{
    from{border:3px solid #909096e5; }
    80%{border:4px solid #c7c7c7e5; -webkit-box-shadow: 0 0 3px #ffffff91;}
    81%{border:4px solid #909096e5; }
    84%{border:5px solid #f8f8fde5; -webkit-box-shadow: 0 0 16px #ffffff91;}
    to{border:3px solid rgb(241, 241, 241); -webkit-box-shadow: 0 0 6px #ffffff91;}
}