body{
    min-height: 100vh;
    background-color: rgb(18, 18, 18);
}
.game-board{
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;
}
.game-board .row1{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 20px 0;
}
.game-board .row2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px 0;
    user-select: none;
}
.pg-container{
    display: flex;
    justify-content: center;
}
h2{
    color: rgb(216, 212, 212);
}
.pg-container h2{
    text-align: center;
    font-size: 3.5rem;
    display: inline-block;
    cursor: pointer;
}
.result-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 40px 0 0 0;
    height: 50px
}
.result{
    display: none;
    text-align: center;
    font-size: 1.5rem;
}

/* BUTTONS */
       /* general button styling */
.game-board button{
    border: 1px solid rgba(20, 20, 20, 0.925);
    border-radius: 99%;
    width: 150px;
    height: 150px;
    margin: 0 30px;
    transition: all 0.2s ease-in-out;
    font-size: 3em;
    color: #f1f1f169;
    padding: 1rem 2rem;
    text-decoration: none;
    font-family: sans-serif;
    cursor: default;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;    
}
button:focus {
    outline: none;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.98);
    outline: none;
}
.row2 .space{
    width: 270px;
    height: 135px;
}

        /* color */
.f{ background-color: #c1ecfa38; }
.j{ background-color: #ff46253c; }
.c{ background-color: #ffdd4331; }
.space{ background-color: #860a9c2d; }
.m{ background-color: #34860531; }

        /* animation calls */
.glow-blue{
    -webkit-animation: bluePulse .7s 1;
}
.glow-red{
     -webkit-animation: redPulse .7s 1;
}
.glow-yellow{
     -webkit-animation: yellowPulse .7s 1;
}
.glow-purple{
     -webkit-animation: purplePulse .7s 1;
}
.glow-green{
     -webkit-animation: greenPulse .7s 1;
}

        /* Animations details*/
@keyframes bluePulse{
from {background-color: #9fe2f8f3; -webkit-box-shadow: 0 0 9px #8ce2ffaf; color: #f8f7f7; }
8% {background-color: #82e0ff; -webkit-box-shadow: 0 0 18px #c6edfabd; color: #fff; }
to {background-color: #c1ecfa38; -webkit-box-shadow: 0 0 1px #b6e9faa8; color: #f1f1f169; }
}

@keyframes redPulse{
from {background-color: #ff4625be; -webkit-box-shadow: 0 0 9px #ff7c65a1; color: #f8f7f7; }
8% {background-color: #ff4625; -webkit-box-shadow: 0 0 18px #ff856fcc; color: #fff; }
to {background-color: #ff46253c; -webkit-box-shadow: 0 0 1px #fa9d8da1; color: #f1f1f169; }
}

@keyframes yellowPulse{
from {background-color: #ffdd43b4; -webkit-box-shadow: 0 0 9px #ecc72485; color: #f8f7f7; }
8% {background-color: #ffdd43; -webkit-box-shadow: 0 0 18px #ecc724a9; color: #fff; }
to {background-color: #ffdd4331; -webkit-box-shadow: 0 0 1px #ecc72473; color: #f1f1f169; }
}

@keyframes purplePulse{
from {background-color: #9c0db6ab; -webkit-box-shadow: 0 0 9px #be0fdda1; color: #f8f7f7; }
8% {background-color: #be0fdd; -webkit-box-shadow: 0 0 18px #d614f898; color: #fff; }
to {background-color: #860a9c2d; -webkit-box-shadow: 0 0 1px #b913d68f; color: #f1f1f169; }
}

@keyframes greenPulse{
from {background-color: #44aa09a6; -webkit-box-shadow: 0 0 9px #66e01f80; color: #f8f7f7; }
8% {background-color: #47b309; -webkit-box-shadow: 0 0 18px #59db0d8a; color: #fff; }
to {background-color: #34860531; -webkit-box-shadow: 0 0 1px #5fdd1657; color: #f1f1f169; }
}